body {
    background: #FCFCFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 13px;
    padding: 0;
}

html, body {
    width: 100%;
}

nav{
    display: flex;
    background: #ffffff;
    padding: 10px 0px;
    border-bottom: #1F2354 solid 1px;
}

*{
    text-decoration: none;
    color: inherit;
    list-style: none;
}

.brand-name {
    font-weight: bold;
    font-size: 1.5em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.jumbotron {
    margin: 0 auto;
    padding: 40px 100px;
    background-image: url('https://images.unsplash.com/photo-1540908187087-eeabb5040af5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}
.about {
    width: 15%;
    line-height: 40px;
    background: #1F2354;
    padding: 20px 25px;
    color: #ffffff;
}

.navbar {
    width: 80%;
    padding: 0 5%;
}

.navbar-right{
    width: 20%;
    margin: auto;
}

.navbar-right .nav-item {
    float: right;
}

.nav-item {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 5px;
    font-weight: bold;
    border-bottom: #ffffff 2px solid;
}

.nav-item:hover {
    border-bottom: #1F2354 2px solid;
    background: #EEEEEE;
}

.get-started {
    border: 1px solid #ffffff;
    width: 100%;
    padding: 13px 35px;
}

.get-started:hover{
    background: #ffffff;
    color: #1F2354;
}

.steps {
    /* width: 100%; */
    margin: 0 auto;
    padding: 2% 12% 5% 12%;
}

.steps h2 {
    border-bottom: #1F2354 1px solid;
    padding: 15px 0;
}

.announcements {
    display: flex;
}

.left-box {
    margin-left: 5%;
}

.box {
    width: 40%;
    line-height: 30px;
}

.box p {
    margin: 0 0 30px 0;
}

.button {
    padding: 15px 25px;
    color: #1F2354;
    font-weight: bold;
    border: #1F2354 1px solid;
}

.button:hover {
    background: #1F2354;
    color: #ffffff;
}

.alternate {
    background: #E5EBF0;
}

footer {
    background: #1F2354;
    color: #ffffff;
    display: flex;
    padding: 10px 50px;
}

footer p {
    margin: 0;
    padding:  0;
}

footer .logo {
    text-align: center;
}

footer .logo p {
    font-size: 8.5em;
    margin: 5% 0;
}

footer .logo a {
    font-size: 1.5em;
}

.logo, .contact {
    width: 50%;
}

.contact {
    padding: 50px 0;
    line-height: 70px;
    text-align: center;
}

.contact p {
    font-size: 2.5em;
}

.email-us {
    border: #ffffff 1px solid;
    padding: 15px 25px;
    font-size: 1.5em;
}

.email-us:hover {
    color: #1F2354;
    background: #ffffff;
}