body {
    background: #FCFCFC;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 13px;
    padding: 0;
}

html, body {
    width: 100%;
}

nav{
    display: flex;
    background: #ffffff;
    padding: 10px 0px;
    border-bottom: #1F2354 solid 1px;
    position: sticky;
    top: 0px;
}

*{
    text-decoration: none;
    color: inherit;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
}

.brand-name {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar {
    width: 80%;
    padding: 0 5%;
}

.navbar-right{
    width: 20%;
    margin: auto;
}

.navbar-right .nav-item {
    float: right;
}

.nav-item {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 5px;
    font-weight: bold;
    border-bottom: #ffffff 2px solid;
}

.nav-item:hover {
    border-bottom: #1F2354 2px solid;
    background: #EEEEEE;
}



footer {
    background: #1F2354;
    color: #ffffff;
    display: flex;
    padding: 10px 50px;
}

footer p {
    margin: 0;
    padding:  0;
}

footer .logo {
    text-align: center;
}

footer .logo p {
    font-size: 8.5em;
    margin: 5% 0;
}

footer .logo a {
    font-size: 1.5em;
}

.logo, .contact {
    width: 50%;
}

.contact {
    padding: 50px 0;
    line-height: 70px;
    text-align: center;
}

.contact p {
    font-size: 2em;
}

.email-us {
    border: #ffffff 1px solid;
    padding: 15px 25px;
    font-size: 1.2em;
}

.email-us:hover {
    color: #1F2354;
    background: #ffffff;
}

.copyright {
    padding: 2% 0 2% 70%;
    border-top: #928989 1px solid;
    margin: 0;
}

.form {
    width: 25%;
    margin: 5% auto;
    padding: 0;
    background: #E4E9F0;
}

.form h2 {
    background: #1F2354;
    padding: 15px 25px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}

.form input{
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 10px;
    border-bottom: #1F2354 1px solid;
}


.button {
    width: 100%;
    border: none;
    height: 50px;
    cursor: pointer;
    font-size: 1.5em;
    color: #ffffff;
    background: #1F2354;
}

.meta {
    padding: 15px 25px;
    font-size: 1.2em;
}

.meta a {
    text-decoration: underline;
}