body, html {
    background: #DEE9E8;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, karla;
    padding: 0;
    margin: 0 ;
}

li, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: #00694D;
    display: block;
}

h1, h2 {
    color: #00694D;
}

nav {
    display: flex;
    background: #FFFFFF;
    padding: 0 30px;
    position: sticky;
    top: 0;
    border-bottom: #DCE9E8 5px solid;
}

footer {
    
    background: #202020;
    width: 100%;
    color: #FFFFFF;
    padding-bottom: 25px;
    
}

footer h3 {
    color: #00AC54;
    border-bottom: #00AC54 1px solid;
    padding: 15px 0px;

}

footer a {
    color: #FFFFFF;
}
    
* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
}
    
input {
    width: 100%;
    margin: 5px 0;
    
    padding: 12px 15px;
    border: #deefe5 1px solid;
    background: #f5fcf8;
    /* border-radius: 10px; */
}

textarea {
    background: #F4FDF8;
    border: #deefe5 1px solid; 
    padding: 15px 20px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background: #00BD57;
    cursor: pointer;
}

input::placeholder {
    opacity: 0.5;
    font-size: 12px;
}

input:focus , textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
}

.upper-div {
    display: flex;
    border-bottom: #DCE9E8 1px solid;
}

.nav-item{
    display: inline-block;
    
    font-weight: bold;
    padding: 18px 25px;
}


.nav-item:hover {
    background: #DEE9E8;

}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.new-party {
    padding: 80px 30px;
    background: #FFFFFF;
}

.new-party h2 {
    padding: 15px 0;
}

.form {
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    padding: 50px 50px;
}

.button {
    padding: 12px 15px;
    border: none;
    background: #00694D;
    color: #FFFFFF;
    font-weight: bold;
    /* float: right; */
    margin-top: 25px;
}

.panel {
    width: 32%;
    padding: 0 10px;
}



.navbar-right {
    margin-left: 45%;
}


.form h2 {
    border-bottom: #DCE9E8 1px solid;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.footer-item {
    display: block;
    padding: 15px 25px;
}

.footer-item a:hover {
    color: #00BD57;
}

.lower-div span {
    float: right;
}
.lower-div {
    padding: 25px 20px;
    
}

.group-control {
    display: flex;
    margin-bottom: 3%;
}

.group-input {
    width: 48%;
    margin: 0 1%;
}

#ps, #pm {
    width: 100%;
}

.vote-sheet {
    background: #FFFFFF;
    width: 100%;
    margin-bottom: 1%;
}

.vote-sheet h2 {
    border-bottom: #DCE9E8 solid 1px;
    padding: 25px;
    background: #00694d;
    color: #FFFFFF;
    cursor: pointer;
}

.vote-sheet h2 span {
    float: right;
    margin: 0;
    padding: 8px;
    border: #ffffff 1px solid;
}

.vote-sheet button {
    border: none;
    padding: 15px 25px;
    font-size: 1.6em;
    background: #00D35C;
    font-weight: bold;
    margin: 20px 20px 20px 58pc;
}

.choice {
    display: block;
    padding: 25px 50px;
    font-weight: bold;
    border-bottom: #00694D dashed 1px;    
}

.choice:last-child {
    border-bottom: #ffffff dashed 1px;  
}

.choice:first-child {
    border-bottom: #00694D dashed 1px;
}

.choice label span {
    display: block;
    width: 100%;
}

.choice:hover {
    background: #9bc4b7;
    cursor: pointer;
}

.choice input[type='radio'] {
    width: 30px;
    height: 30px;
    border: none;
    float: right;
    margin: 0;
    outline: none;
    cursor: pointer;
}

.dashboard {
    display: flex;
}

.right-panel {
    width: 30%;
    background: #FFFFFF;
    height: 130px;
    padding: 0 20px;
    position: sticky;
    top: 56px;
    font-weight: bold;
}

#personal-info, #election-history {
    border-bottom: #DCE9E8 1px solid;
    padding: 20px 20px;
}

#personal-info h2, #election-history h2 {
    border-bottom: #00694D 1px solid;
    padding: 25px 0;
    display: flex;
}

.main-panel {
    width: 69%;
    margin-left: 1%;
    background: #FFFFFF;
}
.link-item {
    padding: 25px 0;
    border-bottom: #DCE9E8 solid 1px;
    display: flex;
}

.link-item:last-child {
    border: none;
}

.main-panel li span {
    font-weight: bold;
    width: 30%;
}

.hist-item {
    padding: 25px 0;
    display: flex;
    height: 200px;
    border-bottom: #DCE9E8 solid 1px;
}

.hist-item p {
    display: flex;
    padding: 15px 0;
}
.hist-item p span {
    width: 15%;
}

.deets {
    width: 80%;
    padding: 30px 10px;
}

.img {
    width: 20%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

#auth{
    width: 60%;
}

#radios {
    display: flex;
    padding: 15px 0;
}

#radios input[type='button'] {
    margin: 0;
    padding: 0;
    outline: none !important;
}
input[type='radio']:focus {
    outline: none;
}

.meta {
    display: flex;
}

label, a, p{
    font-weight: bold;
}

.long-panel {
    height: 350px;
    top: 56px;
}

.main-panel2 {
    width: 69%;
    margin-left: 1%;
}

.main-panel2 h2 {
    padding: 8px;
}

.main-panel2 a{
    box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
    box-shadow: 0px 0px 5px -2px rgba(0,166,83,1);
}

.main-panel2 a:hover {
    background: #DCE9E8;
}

.position {
    background: #FFFFFF;
    margin-bottom: 2%;
    padding: 15px 20px;
}

.caption {
    padding: 15px;
}

.position p {
    padding: 5px 0;
}

.candidate {
    width: 30%;
    display: inline-block;
    margin: 1%;
    border-radius: 5px;
}

.position img {
    border-radius: 0px;
    border: none;
    height: 150px;
}

#personal-info a {
    margin-left: 45%;
    background: #00694D;
    color: #FFFFFF;
    padding: 10px 25px; 
}

#personal-info a:hover {
    background: #00D35C;
    color: #00694D;
}

.header-img img{
    border-radius: 0;
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.party-info {
    padding: 15px 20px;
    background: #c0d6d4;
    border-radius: 10px;
    margin-bottom: 1%;
}

.party-info p {
    display: flex;
    padding: 15px 0;   
}

.party-info p span{
    width: 50%;
}

.update {
    display: flex;
    padding: 15px 0;
}

.update span {
    width: 50%;
}

.update a {
    padding: 15px 25px;
    font-size: 1.3em;
    width: 100px;
    border-radius: 10px;
}

.edit a:hover {
    background: #f2bd8c;
    color: #EE7D00;
}

.delete {
    margin-left: 70%;
    
}
.delete a {
    color: red;
    border: 1px #EA0000 solid;
}

.delete a:hover {
    background: #f7a8a8;
}

.manifesto {
    line-height: 20px;
}