body {
    background: #E4E9F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 13px;
    padding: 0;
    color: #1F2354;
}

html, body {
    width: 100%;
}

nav{
    display: flex;
    background: #ffffff;
    padding: 10px 0px;
    border-bottom: #1F2354 solid 1px;
    position: sticky;
    top: 0px;
}

a, button {
    cursor: pointer;
}

*{
    text-decoration: none;
    color: inherit;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
}

.container {
    background: #E4E9F0;
    width: 100%;
    padding: 2%;
}

.brand-name {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar {
    padding: 1% 5%;
    width: 70%; 
}

.navbar-right{
    width: 30%;
}

.navbar-right .nav-item {
    float: right;   
}

.nav-item {
    display: inline-block;
    padding: 5px 20px;
    margin: 0 5px;
    font-weight: bold;
    border-bottom: #ffffff 2px solid;
}

.nav-item:hover {
    border-bottom: #1F2354 2px solid;
    background: #EEEEEE;
}

.active {
    border-bottom: #1F2354 2px solid;
    background: #EEEEEE;
}


footer {
    background: #1F2354;
    color: #ffffff;
    display: flex;
    padding: 10px 50px;
}

footer p {
    margin: 0;
    padding:  0;
}


footer h3 {
    border-bottom: #ffffff 1px solid;
}

.find-us, .contact, .contribute {
    width: 30%;
    padding: 50px 0;
    line-height: 40px;
    font-size: 1.1em;
    text-align: center;
}

.find-us, .contribute {
    border-right: 1px solid #ffffff;
    padding: 50px;
}

.find-us a:hover, .contribute a:hover {
    text-decoration: underline;
}

.contact p {
    font-size: 2em;
    margin-bottom: 7%;
}

.email-us {
    border: #ffffff 1px solid;
    padding: 15px 25px;
    font-size: 1.2em;
}

.email-us:hover{
    color: #1F2354;
    background: #ffffff;
}

.copyright {
    padding: 2% 0 2% 70%;
    border-top: #928989 1px solid;
    margin: 0;
}

.form {
    width: 32%;
    margin: 0 auto 10% auto;
    padding: 0;
    background: #E4E9F0;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
-moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);   
}

.form h2 {
    background: #1F2354;
    padding: 15px 25px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}

.form input{
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 20px;
    background: rgb(248, 251, 255);
    border-bottom: #1F2354 1px solid;
}


.button {
    width: 100%;
    border: none;
    height: 50px;
    cursor: pointer;
    font-size: 1.5em;
    color: #ffffff;
    background: #1F2354;
}

.meta {
    padding: 25px 25px;
    font-size: 1.2em;
}

.meta a {
    text-decoration: underline;
}

.offices {
    width: 70%;
    margin: 0 auto 10% auto;
}

.office {
    margin-bottom: 2%;
    background: #ffffff;
    /* -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
-moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);   */
}

.stripe {
    background: #1F2354;
    display: flex;
    padding: 25px 15px;
    color: #ffffff;
}

.stripe p {
    text-align: right;
    padding: 0 25px;    
    font-weight: bold;

}

.stripe p, .stripe h2 {
    width: 50%;
}

.candidates {
    width: 100%;
    padding: 0 2%;
}

.candidate img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.candidate {
    display: inline-block;
    width: 31%;
    margin: 2% 1%;
    line-height: 25px;
    -webkit-box-shadow: 0px 3px 4px -1px rgba(227,230,240,1);
-moz-box-shadow: 0px 3px 4px -1px rgba(227,230,240,1);
box-shadow: 0px 3px 4px -1px rgba(227,230,240,1);
}

.candidate:hover {
    background: #E3E6F0;
    cursor: initial;
}

.candidates .info {
    padding: 15px 20px;
}

#prefered input{
    display: block;
    width: 20%;
    height: 30px;
}

#prefered label {
    width: 80%;
}

.choice {
    display: flex;
    margin: 1%;
    padding: 15px 30px;
    font-size: 1.4em;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    -moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    
}

.choice:focus {
    background: red;
}

.vote-sheet button{
    padding: 15px 25px;
    font-size: 1.4em;
    margin: 1% 1% 1% 80%;
    border: #1F2354 1px solid;
    color: #1F2354;
    font-weight: bold;
}

.vote-sheet button:hover {
    background: #1F2354;
    color: #ffffff;
}

.vote-sheet{
    width: 60%;
    margin: 0 auto;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    -moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
}

.vote-sheet h3 {
    background: #1F2354;
    display: flex;
    padding: 25px 15px;
    color: #ffffff;
}

.success {
    text-align: center;
    padding: 15px 25px;
    color: rgb(33, 76, 33);
    -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    -moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    margin: 0 auto 2% auto;
    width: 400px;
}

.error {
    -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    -moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    margin: 0 auto 2% auto;
    width: 400px;
    text-align: center;
    padding: 15px 25px;
    color: rgb(197, 15, 15);
}

.admin {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.nav-link {
    display: block;
    padding: 20px 25px;
    border-bottom: #E4E9F0 solid 1px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1F2354;
}

.nav-link:hover {
    background: #1F2354;
    color: #ffffff;
}

.nav-link:last-child{
    border-bottom: none;
}

.right-panel {
    width: 32%;
    background: #ffffff;
    position: sticky;
    top: 107px;
    height: 284px;

}

#danger-zone {
    color: red;
}

#danger-zone:hover{
    background: rgb(255, 175, 175);
}

.main-panel {
    width: 66%;
    margin-left: 2%;
}

.top-main-panel {
    width: 100%;
    display: flex;
}

.top-main-panel span {
    margin-left: 10%;
    padding: 10px 15px;
    font-weight: bold;
}



.lower-main-panel {
    background: #ffffff;
    
}

#selector {
    padding: 20px 25px;
    border-bottom: #1F2354 solid  1px;
    
}

.add-entity {
    border: #1F2354 1px solid;
    width: 18%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
    padding: 10px 15px;
    display: block;
}


.add-entity:hover {
    background: #1F2354;
    color: #ffffff;
}

#entity li {
    padding: 15px 20px;
    border-bottom: #E4E9F0 1px solid;
}

#entity span {
    font-weight: normal;
    color: initial;
    padding: 5px 0;
    display: inline-block;
}

#entity span:nth-of-type(2){
    margin-left: 35%;
    font-weight: bold;
    color: #1F2354;
}

#entity a {
    color: #1F2354;
    font-weight: bold;
}


#admin-footer {
    margin-top: 170px;
}

#new-entity-form, #edit-entity-form, #office-entity-form  {
    display: none;
    position: fixed;
    z-index: 9;
    bottom: 150px;
    width: 30%;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    -moz-box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    box-shadow: 0px 0px 8px -2px rgba(43,0,86,1);
    padding: 15px 20px;
    background: #ffffff;
}

#office-entity-form {
    bottom: 200px;
}

#new-entity-form h2, #edit-entity-form h2, #office-entity-form h2 {
    margin-bottom: 5%;
}

#new-entity-form input, #edit-entity-form input, #office-entity-form  input {
    width: 100%;
    height: 40px;
    margin-bottom: 5%;
    border: none;
    background: #E4E9F0;
    padding: 5px 10px;
}

#new-entity-form button, #edit-entity-form button, #office-entity-form button {
    padding: 10px 15px;
    border: #1F2354 1px solid;
    color: #1F2354;
    font-weight: bold;
    background: #ffffff;

}

#new-entity-form button:hover, #edit-entity-form button:hover, #office-entity-form button:hover {
    background: #1F2354;
    color: #ffffff;
}

.form-header {
    padding: 5px 0;
    text-transform: uppercase;
}

.form-header span, .form-header h2 {
    display: inline-block;
}

.form-header i {
    font-size:  2em;
    margin-left: 30%;
    color: rgb(19, 90, 19);
    margin-top: 15px;
    cursor: pointer;
}

.form-header i:hover{
    color: rgb(107, 13, 13);
}

.admin-error {
    margin: 0 auto 2% auto;
    padding: 15px 25px;
    color: rgb(197, 15, 15);
    text-transform: capitalize;
    border-bottom: #1F2354 1px solid;
}



.thumbnail {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.entity-info {
    width: 80%;
    padding: 10px 15px;
    color: #1F2354;
}

.edit-delete {
    padding: 10px 15px;
    font-size: 1.5em;
    padding: 0 0 0 75%;
}

.edit-delete :nth-child(1):hover{
    color: rgb(4, 184, 4);
}

.edit-delete :nth-child(2) {
    margin-left: 10%;
    color: rgb(121, 35, 35);
}

.del:hover, .edit-delete :nth-child(2):hover{
    color: rgb(192, 6, 6);
}

.far {
    cursor: pointer;
}

.padit {
    font-weight: bold;
    font-size: 1.3em;
    padding: 20px 25px;
    line-height: 30px;
}

.del {
    font-size: 1.5em;
    padding: 5px;
    color: rgb(121, 35, 35);
    display: block;
    cursor: pointer;
}

.colorit {
    color: #1F2354;
}

.success-color {
    color: rgb(1, 172, 1);
    border: rgb(1, 172, 1) 1px solid;
    font-weight: bold;
    padding: 10px 15px;
}

.error-text {
    color: rgb(243, 8, 8);
}

.user-office {
    padding: 10px 15px;
    line-height: 25px;
    border-bottom: #E3E6F0 1px solid;
}

.office-span {
    margin-left: 50%;
    font-weight: bold;
}
.active {
    border-bottom: #1F2354 2px solid;
    background: #EEEEEE;
}

.dash-right {
    width: 30%;
    height: 340px;
    top: 160px;
    position: sticky;
}

.user-passport {
    width: 100%;
    text-align: center;
    padding: 15px 15px 5px 15px;
}

.user-passport img {
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: cover;
    align-items: center;
    border-radius: 100%;
}

.user-passport img:hover {
    opacity: 0.5;
}

.dashboard {
    width: 70%;
    margin: 0 auto 60px auto;
    display: flex;
}


.caption li {
    padding: 10px 15px;
    font-weight: bold;
    color: #1F2354;
    border-bottom: 1px solid #EEEEEE; 
    font-size: 1.2em;
}

.caption li:nth-child(4){
    border-bottom: none;
}

.caption button {
    width: 100%;
    margin-bottom: 2%;
}

.caption input {
    width: 100%;
    margin-bottom: 2%;
}

.hide {
    padding: 10px 15px;
    display: none;
}

.display-block {
    padding: 10px 15px;
    display: none;
}

#cancel {
    color: rgb(251, 6, 6);
}

.prof-icon {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.prof-icon img{
    height: 100%;
    border-radius: 50%;
}

.main-dash-panel {
    width:  68%;
    margin-left: 2%;
    background: #ffffff;
    height: auto;
}

.result {
    padding: 15px 20px;
    line-height: 25px;
    color: #1F2354;
}
.result h2 {
    padding:  0 0 10px  0;
    border-bottom: #1F2354 1px solid;
    color: rgb(10, 12, 29);
}

.result ul {
    margin: 0;
    padding: 0;
}

.result li {
    font-weight: bold;
    font-style: italic;
    display: flex;
    padding: 15px 20px;
    border-bottom: 1px solid #EEEEEE;
    font-size: 1.1em;
    
}

.result li h3 {
    width: 70%;
}

.no-results-display {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 150px;
}

.admin-footer {
    margin-top: 30px;
}

#prof-icon {
    width: 40px;
    height: 40px;
    border: #1F2354 2px solid;
    object-fit: cover;
    object-position: center;
}